rpsu-server/obj/Debug/net8.0/apphost.exe
rpsu-server/obj/Debug/net8.0/rpsu-server.AssemblyInfo.cs
rpsu-server/obj/Debug/net8.0/rpsu-server.AssemblyInfoInputs.cache
rpsu-server/obj/Debug/net8.0/rpsu-server.assets.cache
rpsu-server/obj/Debug/net8.0/rpsu-server.csproj.AssemblyReference.cache
rpsu-server/obj/Debug/net8.0/rpsu-server.csproj.CoreCompileInputs.cache
rpsu-server/obj/Debug/net8.0/rpsu-server.csproj.FileListAbsolute.txt
rpsu-server/obj/Debug/net8.0/rpsu-server.dll
rpsu-server/obj/Debug/net8.0/rpsu-server.GeneratedMSBuildEditorConfig.editorconfig
rpsu-server/obj/Debug/net8.0/rpsu-server.genruntimeconfig.cache
rpsu-server/obj/Debug/net8.0/rpsu-server.MvcApplicationPartsAssemblyInfo.cs
rpsu-server/obj/Debug/net8.0/rpsu-server.pdb
rpsu-server/obj/Debug/net8.0/rpsu-server.sourcelink.json
rpsu-server/obj/Debug/net8.0/ref/rpsu-server.dll
rpsu-server/obj/Debug/net8.0/refint/rpsu-server.dll
